# ignore intermediate and build results
dst/
obj/
build/
sim/

# OS BS
##
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Editor temporaries
*.swo
*.swp

# Python binaries
*.pyc
*.pyo
*.pyd
